.scores {
  margin-top: 100px;
  width: 85%;
}

.scores tr:nth-child(odd) {
  background: #e0574f;
}

.scores tr:nth-child(even) {
  background: #cd4b4b;
}

.scores thead tr {
  background: #cd4b4b;
  color: #e1e1e1;
}

.scores .title {
  padding: 12px 13px 18px;
}

/* top-left border-radius */
table tr:first-child th:first-child {
  border-top-left-radius: 10px;
}

/* top-right border-radius */
table tr:first-child th:last-child {
  border-top-right-radius: 10px;
}

/* bottom-left border-radius */
table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

/* bottom-right border-radius */
table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

body {
  margin: 0;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}